<%= form_with model: group, local: true do |f| %>
  <div class="form-group">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :紹介文 %>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :グループ画像 %>
    <%= f.file_field :group_image, class: "form-control-file", accept: 'image/*' %>
  </div>

  <%= f.label :アーティストタグ %><br>
  <% Artist.all.each do |artist| %>
    <%= check_box_tag "group[artist_ids][]", artist.id, @group.artist_ids.include?(artist.id) %>
    <%= artist.name %><br>
  <% end %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>