<div class="container my-4">
  <h2 class="border-bottom pb-2 mb-3 text-center fw-bold">すべてのグループ</h2>
  <div class="d-flex justify-content-center mt-4">
    <%= link_to "グループを作成する", new_group_path, class: "btn btn-outline-success rounded-pill btn-lg" %>
  </div>
  <% @groups.each do |group| %>
    <div class="card my-3 p-3 shadow-sm d-flex flex-row align-items-start">
      <!-- グループ画像 -->
      <%= image_tag group.group_image.attached? ? url_for(group.group_image) : "Vibin_no_image.jpg", class: "rounded-circle me-4", size: "80x80", alt: group.name %>

      <!-- グループ情報 -->
      <div class="flex-grow-1 ml-3">
        <h5 class="mb-1">
          <%= link_to group.name, group_path(group), class: "text-decoration-none text-dark" %>
        </h5>
        <i class="far fa-clock"></i><%= group.owner.nickname %>が
          <%= group.created_at.strftime('%Y/%m/%d') %>に作成
        <p class="mb-2"><%= (group.introduction || "").truncate(80) %></p>
        <div class="text-muted mb-1">
          関連アーティスト：<%= group.artists.pluck(:name).join(" , ") %><br>
        </div>
        <div>
          <h4><span class="badge bg-secondary rounded-pill px-3"><%= group.users.count %>人参加中</span></h4>
          メンバー：<%= group.users.map(&:nickname).join(" , ") %>
        </div>
      </div>
    </div>
  <% end %>
</div>