<div class="container my-4">
  <h2 class="mb-4 text-center">グループ一覧</h2>

  <% @groups.each do |group| %>
    <div class="card my-3 p-3 shadow-sm d-flex flex-row align-items-start">
      <!-- グループ画像 -->
      <%= image_tag group.group_image.attached? ? url_for(group.group_image) : "Vibin_no_image.jpg", class: "rounded-circle me-4", size: "80x80", alt: group.name %>

      <!-- グループ情報 -->
      <div class="flex-grow-1 ml-3">
        <h5 class="mb-1">
          <%= link_to group.name, group_path(group), class: "text-decoration-none text-dark" %>
        </h5>
        <p class="mb-2"><%= group.introduction.truncate(80) %></p>
        <div class="text-muted mb-1">
          関連アーティスト：<%= group.artists.pluck(:name).join(" , ") %><br>
        </div>
        <div>
          <h4><span class="badge bg-secondary rounded-pill px-3"><%= group.users.count %>人参加中</span></h4>
          メンバー：<%= group.users.map(&:nickname).join(" , ") %>
        </div>
        
        <!-- オーナーなら編集 -->
        <% if group.owner_id == current_user.id %>
          <div class="d-flex justify-content-end">
            <%= link_to '編集する', edit_group_path(group), class: "btn btn-sm btn-outline-success rounded-pill px-4" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>