<div class="container my-4">
  <div class="card shadow-sm p-4">
    <div class="d-flex">
      <!-- グループ画像 -->
      <div class="me-4">
        <%= image_tag @group.group_image.attached? ? @group.group_image : "Vibin_no_image.jpg", size: "100x100", class: "rounded-circle", style: "object-fit: cover;" %>
      </div>

      <!-- グループ情報 -->
      <div class="flex-grow-1 ml-3">
        <h3 class="mb-2"><%= @group.name %></h3>
        <p class="mb-2"><%= @group.introduction %></p>
        <p class="mb-2 text-muted"><strong>関連アーティスト：</strong> <%= @group.artists_name %></p>
        <h4><span class="badge bg-secondary rounded-pill px-3"><%= @group.users.count %>人参加中</span></h4>
        メンバー：<%= @group.users.map(&:nickname).join(" , ") %>
        
        <!-- 編集・参加ボタン -->
        <div class="d-flex justify-content-end">
          <% if @group.owner_id == current_user.id %>
            <%= link_to '編集する', edit_group_path(@group), class: "btn btn-outline-success rounded-pill px-4" %>
          <% else %>
            <% if @group.includesUser?(current_user) %>
              <%= link_to 'グループを抜ける', group_group_users_path(@group), method: :delete, class: "btn btn-outline-danger rounded-pill mb-2" %>
            <% else %>
              <%= link_to '参加する', group_group_users_path(@group), method: :post, class: "btn btn-success rounded-pill mb-2" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>