<div class="container my-4">
  <div class="card shadow-sm p-4">
    <div class="d-flex">
      <!-- グループ画像 -->
      <div class="me-4">
        <%= image_tag @group.group_image.attached? ? @group.group_image : "Vibin_no_image.jpg", size: "100x100", class: "rounded-circle", style: "object-fit: cover;" %>
      </div>

      <!-- グループ情報 -->
      <div class="flex-grow-1 ml-3">
        <h3 class="mb-2"><%= @group.name %></h3>
        <i class="far fa-clock"></i><%= @group.owner.nickname %>が
          <%= @group.created_at.strftime('%Y/%m/%d') %>に作成
        <p class="mb-2"><%= @group.introduction %></p>
        <p class="mb-2 text-muted"><strong>関連アーティスト：</strong> <%= @group.artists.pluck(:name).join(" , ") %></p>
        <h4><span class="badge bg-secondary rounded-pill px-3"><%= @group.users.count %>人参加中</span></h4>
        メンバー：<%= @group.users.map(&:nickname).join(" , ") %>
      
        <!-- 編集・参加申請ボタン -->
        <% permit = @group.permits.find_by(user_id: current_user.id) %>
        <div class="d-flex justify-content-end">
          <% if @group.owner_id == current_user.id %>
            <div>
              <%= link_to '承認待ち一覧', permits_list_group_path(@group),  class: "btn btn-success rounded-pill" %>
              <%= link_to '編集する', edit_group_path(@group),  class: "btn btn-primary rounded-pill" %>
            </div>
          <% elsif current_user.email != "guest@example.com" %>
            <% if @group.group_users.exists?(user_id: current_user.id) || (permit && permit.status == "approved") %>
              <!-- グループに参加している場合 -->
              <p class="alert alert-success">参加しています！</p>
            <% elsif permit %>
              <% if permit.status == "pending" %>
                <%= link_to '申請取消', group_permit_path(@group, permit), method: :delete, class: "btn btn-sm btn-danger" %>
              <% elsif permit.status == "rejected" %>
                <p class="alert alert-danger">申請が拒否されました。もう一度参加申請を行ってください。</p>
                <%= button_to "再申請", reapply_group_permit_path(@group, permit), method: :post, class: "btn btn-primary rounded-pill" %>
              <% end %>
            <% else %>
              <%= link_to '参加申請する', group_permits_path(@group), method: :post, class: "btn btn-success rounded-pill" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
