<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>投稿主</th>
            <th>タイトル</th>
            <th>いいね</th>
            <th>内容</th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to users_mypage_path(post.user_id) do %>
                  <%= @user.nickname %>
                <% end %>
              </td>
              <td>
                <%= link_to post_path(post.id) do %>
                  <%= post.title %>
                <% end %>
              </td>
              <td><%= render "public/goods/form", post: post %></td>
              <td><%= post.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

