<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>投稿の詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to users_mypage_path(@user) do %>
                <%= @user.nickname %>
              <% end %>
            </td>
            <td><%= @post.title %></td>
            <td>コメント数： <%= @post.comments.count %></td>
            <td><%= @post.body %></td>
            <td><%= @post.artist_name %></td>
            <td><%= render "goods/form", post: @post %></td>
            <% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_post_path(@post), class: "btn btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "本当に消しますか？" } %>
              </td>
            <% end %>
          </tr>
        </tbody>
        <!-- タグリスト -->
      <% @artist_post_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(artist_tag_id: tag.id) %>
      <% end %>
      </table>
      <%= render "public/comments/index", post: @post %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
  </div>
</div>
