<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>投稿の詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <% if @user.user_image.attached? %>
                  <%= image_tag @user.user_image.variant(resize_to_fill: [60, 60]), class: "rounded-circle mr-2" %>
                <% else %>
                  <%= image_tag 'Vibin_no_image.jpg', width: 60, height: 60, class: "rounded-circle mr-2" %>
                <% end %>
                <%= @user.nickname %>
              <% end %>
            </td>
            <td><%= @post.title %></td>
            <% if @post.post_image.attached? %>
              <%= image_tag @post.post_image, class: "img-fluid rounded", style: "max-width: 100%; height: auto;" %>
            <% else %>
              <%= image_tag 'Vibin_no_image.jpg', class: "img-fluid rounded", style: "max-width: 100%; height: auto;" %>
            <% end %>
            <td><%= @post.body %></td>
            <td>コメント数： <%= @post.comments.count %></td>
            <td><%= render "public/goods/form", post: @post %></td>
            <td><%= @post.artists_name %></td>
            <% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_post_path(@post), class: "btn btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "本当に消しますか？" } %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%= render "public/comments/index", post: @post %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
  </div>
</div>
