<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">

      <!-- 投稿者情報 -->
      <div class="d-flex align-items-center mb-3">
        <%= image_tag @user.user_image.attached? ? url_for(@user.user_image) : "Vibin_no_image.jpg", class: "rounded-circle me-3", size: "80x80", alt: @user.nickname %>
        <h3 class="ml-2 mb-0"><%= link_to @user.nickname, (@user == current_user ? mypage_path : user_path(@user)), class: "text-decoration-none text-dark" %></h3>
      </div>

      <!-- タイトル & いいね & 関連アーティスト-->
      <div class="mb-4">
        <h3 class="fw-bold"><%= @post.title %></h3>
        <div class="d-flex align-items-center">
          <%= render "public/goods/form", post: @post %>
          <span class="ml-4"><i class="fa-regular fa-comment-dots"></i>
            <%= @post.comments.count %>
          </span>
        </div>
        <div><i class="fa-solid fa-music mr-2"></i><%= @post.artists_name %></div>
      </div>

      <!-- 本文 -->
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5>投稿内容：</h5>
        <p class="text-muted"><%= @post.created_at.strftime("%Y/%m/%d") %></p>
      </div>
      <div class="post-body-box">
        <h4 class="mb-0"><%= simple_format(@post.body) %></h4>
      </div>

      <!-- 投稿画像 -->
      <% if @post.post_image.attached? %>
        <div class="text-center my-4">
          <%= image_tag @post.post_image, class: "img-fluid rounded shadow", style: "max-width: 300px; height: auto;" %>
        </div>
      <% end %>

      <!-- 投稿編集ボタン（自分の投稿のみ） -->
      <% if @user == current_user %>
        <div class="d-flex gap-3 mb-4">
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-primary rounded-pill px-3 mr-3" %>
          <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger rounded-pill px-3" %>
        </div>
      <% end %>

      <!-- コメント一覧 -->
      <%= render "public/comments/index", post: @post %>

      <!-- コメント投稿フォーム -->
      <%= render 'layouts/error', obj: @comment %>
      <%= render "public/comments/form", post: @post, comment: @comment %>

    </div>
  </div>
</div>