<div class="container-fluid d-flex align-items-center justify-content-center">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">

    <h5 class="text-center mb-4" style="background-color: #E0E0E0; color: #333; padding: 10px; border-radius: 5px;">
      管理者ログイン
    </h5>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), local: true) do |f| %>

      <!-- メールアドレス -->
      <div class="form-group mb-3">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"form-control" %>
      </div>

      <!-- パスワード -->
      <div class="form-group mb-3">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <!-- ログインボタン -->
      <div class="form-group mb-4 d-flex justify-content-center">
        <%= f.submit "ログイン", class: "btn btn-primary rouded-pill w-50" %>
      </div>

    <% end %>
    <%= render "admin/shared/links" %>
  </div>
</div>