<div class="comment-section mt-5">
  <h4 class="mb-3 border-bottom pb-2">コメント</h4>
  <% post.comments.each do |comment| %>
    <div class="d-flex align-items-start mb-4 border-bottom pb-3 position-relative">
      <%= link_to (comment.user == current_user ? mypage_path : user_path(comment.user)), class: "me-3" do %>
        <%= image_tag comment.user.user_image.attached? ? url_for(comment.user.user_image) : "Vibin_no_image.jpg", class: "rounded-circle me-2", size: "40x40", alt: comment.user.nickname %>
      <% end %>
      <div class="flex-grow-1">
        <div class="d-flex justify-content-between align-items-center">
          <div class="fw-bold mb-1"><%= comment.user.nickname %></div>
          <p class="text-muted"><%= comment.created_at.strftime("%Y/%m/%d") %></p>
        </div>
        <p class="comment-body mb-2"><%= comment.body %></p>

        <% if comment.user == current_user %>
          <%= link_to "削除", post_comments_path(post_id: comment.post.id, id: comment.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger rounded-pill px-3" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>