<div class="container-fluid px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
    <div class="col-xl-12 col-md-12 align-self-end">
      <div class="position-relative my-5" style="height: 400px;">
        <!-- 背景 -->
        <div style="background-image: url('<%= asset_path('Vibin_top.jpg') %>'); background-size: cover; background-position: center; height: 100%; filter: brightness(1); position: absolute; top: 0; left: 0; width: 100%; z-index: -1;"></div>
  
        <!-- 半透明のオーバーレイ -->
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.7); z-index: -1;"></div>
  
        <!-- 文字を中央に配置 -->
        <div class="d-flex justify-content-center align-items-center w-100 h-100 text-white text-center" style="z-index: 1">
          <div>
            <h1 class=" fw-bold">Where Music Meets Your Vibe</h1>
            <p>～あなたの “好き” が誰かの “共感” になる場所～</p>
            <%= link_to "ログインはこちら ♪", new_user_session_path, class: "btn btn-secondary btn-sm btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h3>新着投稿</h3>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <% if post.present? %>
        <div class="col-3">
          <div class="card shadow-sm border-0 rounded-4 mb-4 hover-shadow transition" style="width: 100%; max-width: 320px;">
            <%= link_to post_path(post.id) do %>
              <div class="card-body text-body">
                <div class="d-flex align-items-center mb-2">
                  <%= image_tag post.user.user_image.attached? ? url_for(post.user.user_image) : "Vibin_no_image.jpg", class: "rounded-circle", size: "40x40" %>
                  <h5 class="card-title pl-1 mb-0"><%= post.title %></h5>
                </div>
                <p class="card-text text-truncate" style="max-width: 100%;">
                  <%= post.body %>
                </p>
              </div>
              <%= image_tag post.post_image.attached? ? url_for(post.post_image) : "Vibin_no_image.jpg", class: "img-fluid rounded-3 mx-auto d-block", style: "height: 200px; width: 100%; object-fit: cover;" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to 'すべての投稿へ ➤', posts_path, class: "btn btn-outline-primary btn-xl" %>
  </div>

  <div class="text-center">
    <h3>おすすめグループ</h3>
  </div>
  <div class="row">
    <% @groups.each do |group| %>
      <% if group.present? %>
        <div class="col-3">
          <div class="card shadow-sm border-0 rounded-4 mb-4 hover-shadow transition" style="width: 100%; max-width: 320px;">
            <%= link_to group_path(group.id) do %>
              <div class="card-body text-body">
                <h5 class="card-title"><%= group.name %></h5>
                <p class="card-text text-truncate">
                  <%= group.introduction %>
                </p>
              </div>
              <%= image_tag group.group_image.attached? ? url_for(group.group_image) : "Vibin_no_image.jpg", class: "img-fluid rounded-3 mx-auto d-block", style: "height: 200px; width: 100%; object-fit: cover;" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-end mb-4">
    <%= link_to 'すべてのグループへ ➤', groups_path, class: "btn btn-outline-primary btn-xl" %>
  </div>
  <div class="d-flex justify-content-end mb-4">
    <%= link_to 'カレンダーをチェック ➤', events_path, class: "btn btn-outline-primary btn-xl" %>
  </div>
</div>