<div class="position-relative" style="height: 400px;">
  <!-- 背景 -->
  <div style="background-image: url('<%= asset_path('Vibin_top.jpg') %>'); background-size: cover; background-position: center; height: 100%; filter: brightness(1); position: absolute; top: 0; left: 0; width: 100%; z-index: -1;"></div>
  
  <!-- 半透明のオーバーレイ -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.7); z-index: -1;"></div>
  
  <!-- 文字を中央に配置 -->
  <div class="d-flex justify-content-center align-items-center w-100 h-100 text-white text-center" style="z-index: 1">
    <div>
      <h2><strong>Top</strong></h2>
      <p class="fs-4 fw-bold">Vibin へようこそ！！</p>
      <p>音楽共有サイト</p>
    </div>
  </div>
</div>
<h2>新着投稿</h2>
<div class="row">
  <% @posts.each do |post| %>
    <% if post.present? %>
      <div class="col-3">
        <div class="card p-1 card-hover border-0">
          <%= link_to post_path(post.id) do %>
            <% if post.post_image.attached? %>
              <%= image_tag post.post_image, width: 220, height: 160, class: "img-resize rounded mx-auto d-block", style: "object-fit: cover;" %>
            <% else %>
              <%= image_tag 'Vibin_no_image.jpg', width: 220, height: 160, class: "img-resize rounded mx-auto d-block", style: "object-fit: cover;" %>
            <% end %>
          <% end %>
          <div class="card-body text-body">
            <h5 class="card-title"><%= post.title %></h5>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="d-flex justify-content-end">
  <%= link_to 'すべての投稿を見る＞', posts_path %>
</div>

<h2>おすすめグループ</h2>
<div class="row">
  <% @groups.each do |group| %>
    <% if group.present? %>
      <div class="col-3">
        <div class="card p-1 card-hover border-0">
        <%= link_to group_path(group.id) do %>
          <% if group.group_image.attached? %>
            <%= image_tag group.group_image, width: 220, height: 160, class: "img-resize rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% else %>
            <%= image_tag 'Vibin_no_image.jpg', width: 220, height: 160, class: "img-resize rounded mx-auto d-block", style: "object-fit: cover;" %>
          <% end %>
        <% end %>
        <div class="card-body text-body">
          <h5 class="card-title"><%= group.name %></h5>
        </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="d-flex justify-content-end">
  <%= link_to 'すべてのグループを見る＞', groups_path %>
</div>