<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm rounded-4">
        <div class="card-body p-5">
          <h3 class="mb-4 text-center fw-bold">プロフィール編集</h3>
          
          <%= form_with model: @user, url: update_path, method: :patch, local: true do |f| %>
            
            <div class="mb-3">
              <%= f.label :user_image, "イメージ画像", class: "form-label fw-bold" %><br>
              <!-- 画像プレビュー -->
              <div class="mb-2">
                <%= image_tag(@user.user_image.attached? ? url_for(@user.user_image) : "Vibin_no_image.jpg", id: "preview", class: "rounded shadow-sm", style: "max-height: 200px;") %>
              </div>
              <%= f.file_field :user_image, accept: "image/*", id: "user_image_input" %>
            </div>

            <div class="mb-3">
              <%= f.label :nickname, "ニックネーム", class: "form-label fw-semibold" %>
              <%= f.text_field :nickname, autocomplete: "nickname", class: "form-control rounded-pill" %>
            </div>

            <div class="mb-3">
              <%= f.label :email, "メールアドレス", class: "form-label fw-semibold" %>
              <%= f.email_field :email, autocomplete: "email", class: "form-control rounded-pill" %>
            </div>

            <div class="mb-4">
              <%= f.label :introduction, "紹介文", class: "form-label fw-semibold" %>
              <%= f.text_field :introduction, autocomplete: "introduction", class: "form-control rounded-pill" %>
            </div>

            <div class="d-flex justify-content-center mt-4">
              <%= f.submit "編集内容を保存", class: "btn btn-primary px-4 rounded-pill fw-bold" %>
              <%= link_to "退会する", unsubscribe_path, class: "ml-3 btn btn-outline-danger px-4 rounded-pill fw-bold" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>