<div class="container my-4">
  <h2>参加中のグループ一覧</h2>

  <% if @user_groups.any? %>
    <% @user_groups.each do |group| %>
      <div class="card my-3 p-3 shadow-sm d-flex align-items-center">
        <% if group.group_image.attached? %>
          <%= image_tag group.group_image, size: "60x60", class: "rounded-circle me-3" %>
        <% end %>
        <div>
          <h5><%= link_to group.name, group_path(group) %></h5>
          <p><%= group.introduction.truncate(100) %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>まだ参加中のグループはありません。</p>
  <% end %>
</div>

<div>
  <%= link_to 'グループを作成する', new_group_path, class: "btn btn-primary" %><br>
  <%= link_to 'グループ一覧', groups_path, class: "btn btn-primary" %>
</div>