<div class="container my-4">
  <h2 class="border-bottom pb-2 mb-3 text-center fw-bold">参加中のグループ一覧</h2>

  <% if @user_groups.any? %>
    <% @user_groups.each do |group| %>
      <div class="card my-3 p-3 shadow-sm d-flex flex-row align-items-center">
        <%= image_tag group.group_image.attached? ? url_for(group.group_image) : "Vibin_no_image.jpg", class: "rounded-circle me-3", size: "100x100", alt: group.name %>
        <div class="ml-3">
          <h5><%= link_to group.name, group_path(group), class: "text-decoration-none" %></h5>
          <p class="mb-2"><%= group.introduction.truncate(80) %></p>
          <i class="fa-solid fa-music"></i>：<%= group.artists.pluck(:name).join(" , ") %>
          <h4><span class="badge bg-secondary rounded-pill px-3"><%= group.users.count %>人参加中</span></h4>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>まだ参加中のグループはありません。</p>
  <% end %>
  
  <div class="d-flex justify-content-center mt-3">
    <%= link_to 'グループを作成する', new_group_path, class: "btn btn-outline-success rounded-pill" %><br>
    <%= link_to 'グループ一覧', groups_path, class: "btn btn-outline-primary rounded-pill ml-5" %>
  </div>
</div>