<div class="container">
  <div class="row py-2">
    <div class="px-sm-0">
      <h2><%= @user.nickname %>さんのプロフィール</h2>
    </div>
    <div class="profile-box">
      <%= image_tag @user.user_image, class: "profile-image" if @user.user_image.attached? %><br>
      <p><strong>自己紹介：</strong> <%= @user.introduction %></p>
    </div>

    <h2><%= @user.nickname %>さんの投稿一覧</h2>
    <% @posts.each do |post| %>
      <div class="post">
        <h4><%= link_to post.title, post_path(post) %></h4>
        <p><%= post.body.truncate(100) %></p>
      </div>
    <% end %>